[tool.black]
line-length = 88
target-version = ['py36', 'py37']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.git
    | \.venv
    | \.tox
    | dist
  )/
)
'''

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
skip= '''
(
  /(
      \.git
    | \.venv
    | \.tox
    | dist
  )/
)
'''